version: '3'

networks:
  ingress:
    external: true

services:
  proxy:
    image: traefik
    command: traefik --web --docker --docker.domain=docker --docker.watch
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 80:80
      - 8080:8080
    networks:
      - ingress
    restart: always
